<div class="container jumbotron">
  <div class="row registraion_devise">
    <div class="left_description col-md-8">
      <!-- 描述内容 -->
      <%#= render "random_notes/gl_001" %>
    </div>
    <div class="right_form col-md-4 ">      
        <h2 class="text-center"><%= t(".forgot_your_password") %></h2>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true,label: false,placeholder: "电子邮箱" %>
          </div>
          <div class="form-actions">
            <%= f.button :submit, t(".send_me_reset_password_instructions") %>
          </div>
        <% end %>
    </div>
  </div>
</div>
