<!-- 导航栏 -->
<ol class="breadcrumb">
  <li class="active">全部用户 <kbd><%= @users.count %></kbd></li>
</ol>


<%= link_to('+ 新建用户',new_admin_user_path,class: 'btn btn-primary btn-xs') %>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td>昵称</td>
      <td>姓名</td>
      <td>用户邮箱</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
    <tr>
      <td>
        <strong><%= link_to(u.code,admin_user_path(u)) %></strong>
        <!-- 如果是管理员,则显示管理员提示 -->
        <% if u.is_admin? %>
          <code>管理员</code>
        <% end %>   
      </td>
      <td><small> <%= u.name %></small></td>
      <td><%= u.email %></td>
      <td>
        <% if u.is_admin? %>
          <%= link_to('取消管理员',cancel_admin_admin_user_path(u),method: 'post') %>
        <% else %>
          <%= link_to('设为管理员',set_admin_admin_user_path(u),method: 'post') %>
        <% end %> | <%= link_to('编辑',edit_admin_user_path(u)) %>  | <%= link_to('删除',admin_user_path(u), method: 'DELETE', data: { confirm: "确认删除该用户?" }) %> </td>
    </tr>
    <% end %>
  </tbody>

</table>