<!-- 导航栏 -->
<ol class="breadcrumb">
  <li class="active">全部用户</li>
</ol>


<%= link_to('+ 新建用户',new_admin_user_path,class: 'btn btn-primary btn-xs') %>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <td>昵称</td>
      <td>姓名</td>
      <td>用户邮箱</td>
      <td>操作</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |t| %>
    <tr>
      <td><strong><%= link_to(t.code,admin_user_path(t)) %></strong></td>
      <td><small> <%= t.name %></small></td>
      <td><%= t.email %></td>
      <td><%= link_to('编辑',edit_admin_user_path(t)) %>  | <%= link_to('删除',admin_user_path(t), method: 'DELETE', data: { confirm: "确认删除该用户?" }) %> </td>
    </tr>
    <% end %>
  </tbody>

</table>