<!-- 导航条 -->
<ol class="breadcrumb">
  <li><%= link_to('全部用户',admin_users_path) %></li>
  <li class="active"><%= @user.code %></li>
</ol>




<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-address-card" aria-hidden="true"></i> 基本信息
     <%= link_to edit_admin_user_path(@user),class: 'pull-right' do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
     <% end %>

    </h3>
  </div>
  <div class="panel-body">
    <!-- 显示头像 -->
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <a href="#" class="thumbnail">
          <!-- 显示当前用户头像 -->
          <%= render 'common/user_edit_avatar' %>
        </a>            
      </div>
      <div class="col-md-10 col-sm-8 col-xs-12">
        <p>昵称: <%= @user.code %></p>
        <p>姓名: <%= @user.name %></p>
        <p>邮箱: <%= @user.email %></p>
        <p>当前团队: 
          <% if @user.team.present? %>
          
            <%= link_to admin_team_path(@user.team) do %>
            </kbd>
              <%= @user.team.name %>
            </kbd>
            <% end %>
          <% else %>
            <span class="alert-warning">不在任何团队中</span> 
          <% end %>  
        </p>        
      </div>
    </div>




  </div>
</div>






<!-- 参与项目 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-flag" aria-hidden="true"></i> 参与项目
      <kbd><%= @participated_projects.count %></kbd>
    </h3>


  </div>
  <div class="panel-body">

    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <td>项目名</td>
          <td>成员数</td>
          <td>创建者</td>
          <td>项目描述</td>
        </tr>
      </thead>
      <tbody>
        <% @participated_projects.each do |p| %>
        <tr>
          <td><strong><%= link_to(p.name,admin_project_path(p)) %></strong></td>
          <td><kbd><%= p.members.count %></kbd> </td>
          <td><code><%= link_to(p.builder.name,admin_user_path(p.builder))%></code></td>
          <td> <small> <%= p.description %></small></td>
        </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>


<%= link_to('编辑',edit_admin_user_path(@user),class: 'btn btn-primary btn-xs') %> 

<%= link_to('重置密码',reset_password_admin_user_path(@user), method: 'POST', data: { confirm: "确认重置该用户为默认密码?" },class: 'btn btn-warning btn-xs') %> 

<%= link_to('删除',admin_user_path(@user), method: 'DELETE', data: { confirm: "确认删除该用户?" },class: 'btn btn-danger btn-xs') %>