<!-- 导航条 -->
<ol class="breadcrumb">
  <li><%= link_to('全部团队',admin_teams_path) %></li>
  <li class="active"><%= @team.name %></li>
</ol>


<h2><%= @team.name %></kbd></h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-pencil" aria-hidden="true"></i> 描述</h3>
  </div>
  <div class="panel-body">
    <%= @team.description %>
  </div>
</div>


<!-- 负责人 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-user" aria-hidden="true"></i> 负责人 <kbd><%= @managers.count %></kbd>
      <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#newManager">
         <i class="fa fa-user-plus" aria-hidden="true"></i>
      </button>
    </h3>
  </div>
  <div class="panel-body">
        <% @managers.each do |m| %>
       <code><%= link_to(m.name,admin_user_path(m)) %></code>
    <% end %>
  </div>
</div>


<!-- 成员 -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-user-o" aria-hidden="true"></i> 成员 <kbd><%= @members.count %></kbd>
      <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#newMember">
         <i class="fa fa-user-plus" aria-hidden="true"></i>
      </button>
    </h3>
  </div>
  <div class="panel-body">
        <% @members.each do |m| %>
       <code><%= link_to(m.name,admin_user_path(m)) %></code>
    <% end %>
  </div>
</div>



<%= link_to('编辑',edit_admin_team_path(@team),class: 'btn btn-primary btn-xs') %> 

<%= link_to('删除',admin_team_path(@team), method: 'DELETE', data: { confirm: "确认删除该团队?" },class: 'btn btn-danger btn-xs') %>

<!-- 新增负责人模态框 -->
<%= render 'form_manager_add'  %>
<!-- 新增成员模态框 -->
<%= render 'form_member_add'  %>

