<div class="row">

  <!-- 个人信息 -->
  <div class="col-md-12">
    <a href="#" class="thumbnail">
      <!-- 显示当前用户头像 -->
      <%= render 'common/current_user_avatar_middle' %>
    </a>        

    <!-- 用户名和用户昵称 -->
    <h2><%= current_user.name %>#<%= current_user.code %></h2>

    <p><%= current_user.team.present? ? current_user.team.name : nil %></p>
    <p>部门经理</p>          
    <p>
      <span class="glyphicon glyphicon-tag" aria-hidden="true"> </span> <kbd>网络</kbd> <kbd>服务器</kbd>
    </p>
    <p>
      <span class="glyphicon glyphicon-bookmark" aria-hidden="true"> </span> <kbd>华为</kbd> <kbd>思科</kbd>
    </p> 
    <hr>
  </div>

  <!-- 按钮组 -->
  <div class="col-md-12">

    <div class="list-group">
      <%= link_to('用户管理',admin_users_path, class: "list-group-item "+active_class('users') ) %>
      <%= link_to('团队管理',admin_teams_path, class: "list-group-item "+active_class('teams')) %>
      <%= link_to('项目管理',admin_projects_path, class: "list-group-item "+active_class('projects')) %>
    </div>

  </div>

</div>